#### ---------- Main functions ---------- ####

# Preprocessing functions #
export(extractAllPreprocessingParams)
export(initializePreprocessingParams)
export(executePreprocessing)
export(trimSpectra)
export(computeMassBoundsPlot)
export(conformityTests)
export(conformitySpectra)
export(cleanSpectra)
export(screenSpectra_)
export(mergeSpectra)
export(computeListForSelection)
export(computeNameFromSpectraIds)
export(computeAddedSpectraIds)
export(computeRemovedSpectraIds)

# Processing functions #
export(extractAllProcessingParams)
export(initializeProcessingParams)
export(executeProcessing)
export(computePeakCountsBySNR)
export(detectPeaks_)
export(plotSpectrumWithPeaks)
export(computeReferencePeaks)
export(alignSpectra_)
export(computeSpectraPheatmap)
export(binPeaks_)
export(filterPeaks_)
export(computeIntensityMatrix)
export(computeIntensityMatrixPheatmap)
export(computePeakCount)

# Annotation functions #
export(writeAnnotationFile)
export(readAnnotationFile)
export(processAnnotations)

# Data loading functions #
export(extractSampleName)
export(loadSpectra)
export(extractSpectraMetadata)

# Output functions #
export(extractParameters)
export(writeReport)
export(writeParameters)
export(writeIntensityMatrixCSVFile)
export(writeMassBoundsPlot)
export(writeScreeningPlot)
export(writeSelectedPlot)
export(writeReferencePeaksPlot)
export(writeAlignedSpectraPlot)
export(writeBinnedPeaksPlot)
export(writeIntensityMatrixPlot)
export(writeDendrogramPlot)
export(writeFigures)
export(writeFiguresZip)
export(writeH5File)
export(writeAllFilesZip)

# App #
export(runMSProfileR)

#### ---------- Internal functions ---------- ####

# Annotation Module #
#export(annotationUI)
#export(annotationServer)

# Data Loading Module #
#export(dataLoadingUI)
#export(dataLoadingServer)

# Output Module #
#export(reportingUI)
#export(reportingServer)

# Pre processing Module #
#export(preprocessingUI)
#export(updatePreprocessingParameters)
#export(updateTrim)
#export(extractTrimParams)
#export(removeTrimParams)
#export(updateTrimParams)
#export(updateConformity)
#export(extractConformityParams)
#export(removeConformityParams)
#export(updateConformityParams)
#export(updateClean)
#export(extractCleanParams)
#export(removeCleanParams)
#export(updateCleanParams)
#export(updateScreen)
#export(extractScreenParams)
#export(removeScreenParams)
#export(updateScreenParams)
#export(updateMerge)
#export(extractMergeParams)
#export(removeMergeParams)
#export(updateMergeParams)
#export(preprocessingServer)

# Processing Module #
#export(processingUI)
#export(updateProcessingParameters)
#export(runProcessing)
#export(updatePeakDetectionSpectra)
#export(updateComputePeaksBySNR)
#export(extractComputePeaksBySNRParams)
#export(removeComputePeaksBySNRParams)
#export(updateComputePeaksBySNRParams)
#export(updateDetectPeaks)
#export(extractDetectPeaksParams)
#export(removeDetectPeaksParams)
#export(updateDetectPeaksParams)
#export(updateComputeReferencePeaks)
#export(extractComputeReferencePeaksParams)
#export(removeComputeReferencePeaksParams)
#export(updateComputeReferencePeaksParams)
#export(updateAlignSpectra)
#export(extractAlignSpectraParams)
#export(removeAlignSpectraParams)
#export(updateAlignSpectraParams)
#export(updateBinPeaks)
#export(extractBinPeaksParams)
#export(removeBinPeaksParams)
#export(updateBinPeaksParams)
#export(updateFilterPeaks)
#export(extractFilterPeaksParams)
#export(removeFilterPeaksParams)
#export(updateFilterPeaksParams)
#export(updateComputeIntensityMatrix)
#export(extractComputeIntensityMatrixParams)
#export(removeComputeIntensityMatrixParams)
#export(updateComputeIntensityMatrixParams)
#export(processingServer)

# Shiny tools #
#export(createActionButton)
#export(enableOrDisableParams)


#### ---------- Dependencies ---------- ####
import(MALDIquantForeign)
import(MALDIrppa)
import(MALDIquant)
import(hdf5r)
import(shiny)
import(shinydashboard)
import(shinyFiles)
import(shinyWidgets)
import(shinyjs)
import(shinybusy)
import(shinyBS)
import(DT)
import(ggplot2)
import(pheatmap)
import(rjson)
import(fontawesome)
import(svglite)
import(zip)
import(readxl)
import(writexl)
import(tools)
import(knitr)
import(tinytex)
